/*
    header-Pointer-config in navbar
    @author Volker Mertens
    @version 1.0
 */

.headerPointer{
    cursor:pointer;
    min-width:100%;
}


.dropdown,.dropup{position:relative}
.dropdown-toggle:focus{outline:0}
.dropdown-menuH{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:0;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}.dropdown-menuH.pull-right{right:0;left:auto}
.dropdown-menuH .divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}
.dropdown-menuH>li>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap}
.dropdown-menuH>li>a:focus,.dropdown-menuH>li>a:hover{color:#262626;text-decoration:none;background-color:#f5f5f5}
.dropdown-menuH>.active>a,.dropdown-menuH>.active>a:focus,.dropdown-menuH>.active>a:hover{color:#fff;text-decoration:none;background-color:#337ab7;outline:0}
.dropdown-menuH>.disabled>a,.dropdown-menuH>.disabled>a:focus,.dropdown-menuH>.disabled>a:hover{color:#777}
.dropdown-menuH>.disabled>a:focus,.dropdown-menuH>.disabled>a:hover{text-decoration:none;cursor:not-allowed;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.open>.dropdown-menuH{display:block}
.open>a{outline:0}
.dropdown-menuH-right{right:0;left:auto}
.dropdown-menuH-left{right:auto;left:0}
.dropdown-header{display:block;padding:3px 20px;font-size:12px;line-height:1.42857143;color:#777;white-space:nowrap}

span.pulse {
    display: block;
    margin-top: 18px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FF5733;
    box-shadow: 0 0 0 rgba(204,70,41, 0.4);
    animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,70,41, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,70,41, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,70,41, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,70,41, 0.4);
        box-shadow: 0 0 0 0 rgba(204,70,41, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,70,41, 0);
        box-shadow: 0 0 0 10px rgba(204,70,41, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,70,41, 0);
        box-shadow: 0 0 0 0 rgba(204,70,41, 0);
    }
}

.time{
    font-family: Arial,sans-serif;
    color: #0050A0;
    font-size: 14px;
    border: none;
    background-color: transparent;
    padding: 3px;
    display: block;
    margin-top: 15px;
    margin-right: 10px
}

.clickable {
    cursor: pointer;
}

.pagehead {
    z-index: 2000;
}

.pageside{
    padding-top: 50px;
}

.pagefooter {
    padding-bottom: 8px;
}

.validation {
    color: #b80000;
}

.form-group span.validation {
    margin-left: 5px;
}